In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('stock_prices.csv', names = ['Date', 'Amount'])
df

       Date  Amount
0   march 6     310
1   march 7     340
2   march 8     380
3   march 9     302
4  march 10     297
5  march 11     323

In [20]:
stock_price = []
with open('stock_prices.csv', 'r') as f:
    for line in f:
        row = line.split(',')
        day = row[0]
        amount = float(row[1])
        stock_price.append([day, amount])

In [21]:
stock_price

[['march 6', 310.0],
 ['march 7', 340.0],
 ['march 8', 380.0],
 ['march 9', 302.0],
 ['march 10', 297.0],
 ['march 11', 323.0]]

In [30]:
for i in stock_price:
    if i[0] == 'march 9':
        print(i[1])

302.0

In [31]:
stock_price = {}
with open('stock_prices.csv', 'r') as f:
    for line in f:
        row = line.split(',')
        day = row[0]
        amount = float(row[1])
        stock_price[day] = amount

In [32]:
stock_price

{'march 6': 310.0,
 'march 7': 340.0,
 'march 8': 380.0,
 'march 9': 302.0,
 'march 10': 297.0,
 'march 11': 323.0}

In [33]:
stock_price['march 9']

302.0

#### Implementing Hash Map

In [36]:
ord('m')

109

In [43]:
def hash_key(key):
    h = 0
    for char in key:
        h += ord(char)
    return h % 100

In [44]:
hash_key('method')

41

In [144]:
class HashTable():
    def __init__(self):
        self.max = 100
        self.arr = [None for i in range(self.max)]
    
    def get_hash(self, key):
        h = 0
        for char in key:
            h += ord(char)
        return h % self.max
    
    def __setitem__(self, key, value):
        h = self.get_hash(key)
        self.arr[h] = value
        
    def __getitem__(self, key):
        h = self.get_hash(key)
        return self.arr[h]
    
    def __delitem__(self, key):
        h = self.key(key)
        self.arr[h] = None
        return self

In [145]:
t = HashTable()
t['march 6'] = 130
t['march 1'] = 12
t['march 9'] = 24
t['march 17'] = 459

In [146]:
print(t.arr)

[None, None, None, None, 12, None, None, None, None, 130, None, None, 24, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 459, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [147]:
t['march 9']

24

In [148]:
t.get_hash("march 6")

9

In [149]:
t.get_hash("march 17")

59

#### For Collision

In [161]:
class HashTable():
    def __init__(self):
        self.max = 10
        self.arr = [[] for i in range(self.max)]
    
    def get_hash(self, key):
        h = 0
        for char in key:
            h += ord(char)
        return h % self.max
    
    def __setitem__(self, key, value):
        h = self.get_hash(key)
        for element in self.arr[h]:
            if element[0] == key:
                return element[1]
                
        
        found = False
        for idx, element in enumerate(self.arr[h]):        # inserting values with the same 
            if len(element) == 2 and element[0] == key:
                self.arr[h][idx] = (key, value)
                found = True
                break
        if not found:
            self.arr[h].append((key, value))             # if the key does not exist
        
    def __getitem__(self, key):
        h = self.get_hash(key)
        return self.arr[h]
        
    def __delitem__(self, key):
        h = self.get_hash(key)
        for idx, element in enumerate(self.arr[h]):
            if element[0] == key:
                del self.arr[h][idx]

In [158]:
t = HashTable()
t['march 6'] = 130
t['march 1'] = 12
t['march 9'] = 24
t['march 17'] = 459

In [163]:
t['march 9']

[('march 9', 24)]

In [152]:
t.arr

[[],
 [],
 [('march 9', 24)],
 [],
 [('march 1', 12)],
 [],
 [],
 [],
 [],
 [('march 6', 130), ('march 17', 459)]]

In [153]:
t.arr[4]

[('march 1', 12)]

In [166]:
for idx, element in enumerate(t.arr[2]):
    print(idx, element)

0 ('march 9', 24)

#### sample = []
for key, element in enumerate(t.arr):
    sample.append((key, element))
    
del sample[2][0]

In [124]:
sample

[(0, []),
 (1, []),
 (2, [('march 9', 24)]),
 (3, []),
 (4, [('march 1', 12)]),
 (5, []),
 (6, []),
 (7, []),
 (8, []),
 (9, [('march 6', 130), ('march 17', 459)])]

In [114]:

for key, element in enumerate(t.arr):
    if element[0] == 'march 9':
        del t.arr[key]
    
print(t.arr)

IndexError: list index out of range

In [ ]:
for i in sample:
    del sample[]