
# List

Properties of List

1. It is heterogenous: it can acceptdifferent data types
2. It is ordered: It retain it's order
3. It is mutable: It's content can be changed bdue to addition or reduction

Examples of method that can be used with list are: .pop(), .append(), .extend(), .sort()

### Names and Variables

In [1]:
arr = [2, 4, 5, 7, 9]
arr.pop()

9

In [2]:
arr

[2, 4, 5, 7]

In [1]:
a = 4
b = a
print(a, b)
a = 5
print(a, b)

4 4
5 4

In [2]:
a = [1, 3, 5]
b = a
print(a, b)
a[1] = 7
print(a, b)

[1, 3, 5] [1, 3, 5]
[1, 7, 5] [1, 7, 5]

# Tuples

A tuple is similar to a list but with one difference - it is immutable. It is represented with a parenthesis ().

In [9]:
example_tuple = ('Dylan', 20, 16.4, True)
example_tuple

('Dylan', 20, 16.4, True)

In [4]:
example_tuple[3]

True

In [5]:
example_tuple[2] = 16.2

TypeError: 'tuple' object does not support item assignment

In [6]:
# tuple does not support deletion

del example_tuple[-1]

TypeError: 'tuple' object doesn't support item deletion

# Set

Set is similar to a list only that it is not ordered.

The add method similarly works like the append method in list. The update method works like extend method in list.

In [1]:
example_set = {'Dylan', 26, 14.4, True}
example_set

{14.4, 26, 'Dylan', True}

In [2]:
# set is not subscriptable
example_set[0]

TypeError: 'set' object is not subscriptable

In [3]:
# set is not mutable
example_set[3] = 45

TypeError: 'set' object does not support item assignment

In [4]:
print(example_set)
example_set.pop()

{'Dylan', 26, 14.4, True}

'Dylan'

In [5]:
example_set

{True, 14.4, 26}

In [6]:
example_set.add(26)
example_set

{True, 14.4, 26}

In [7]:
example_set.update([True, 34])
example_set

{True, 14.4, 26, 34}

In [22]:
5 % 2

1

set gives us flexibility about how the data is stored in the memory, and that flexibility can make retrieval faster

Imagine we have ten piles of money with 31 boxes. Instead of putting each pile of money into the boxes in order, instead put a pile into the box based on the amount of money in the pile. First we multiply the amount of money by 100, and take modulus division by 31. This gives the number of box we should put the pile of money in.

In [23]:
piles = [2.83, 8.23, 9.38, 10.23, 25.58, 0.42, 5.37, 28.10, 32.14, 7.31]

In [24]:
def hash_function(x):
    return int(100 * x % 31)

In [25]:
[hash_function(pile) for pile in piles]

[4, 17, 8, 0, 16, 11, 10, 20, 21, 18]

In [26]:
hash_function(5.37)

10

Because searching for data is very simple in set, they are used for making comparison between collection of data.

In [27]:
student_a_course = {"history", "english", "biology", "theater"}
student_b_course = {"biology", "english", "mathematics", "computer science"}

print(student_a_course.intersection(student_b_course))
print(student_a_course.union(student_b_course))
print(student_a_course.difference(student_b_course))

{'biology', 'english'}
{'mathematics', 'theater', 'biology', 'english', 'history', 'computer science'}
{'history', 'theater'}

# Dict

In [28]:
me = ['Dylan', 30, 135, 60, 'Brown', 'Black', 'True']

Using Zip to form Dict

In [29]:
dict_keys = ['Name', 'Age', 'Height', 'Weight', 'Complexion', 'Hair color', 'Has a dog?']
dict_values = me

In [30]:
my_dict = list(zip(dict_keys, dict_values))
my_dict

[('Name', 'Dylan'),
 ('Age', 30),
 ('Height', 135),
 ('Weight', 60),
 ('Complexion', 'Brown'),
 ('Hair color', 'Black'),
 ('Has a dog?', 'True')]

In [31]:
my_dict = dict(my_dict)
my_dict

{'Name': 'Dylan',
 'Age': 30,
 'Height': 135,
 'Weight': 60,
 'Complexion': 'Brown',
 'Hair color': 'Black',
 'Has a dog?': 'True'}

dict is mutable

In [32]:
my_dict['favorite food'] = 'Bread and Beans'
my_dict

{'Name': 'Dylan',
 'Age': 30,
 'Height': 135,
 'Weight': 60,
 'Complexion': 'Brown',
 'Hair color': 'Black',
 'Has a dog?': 'True',
 'favorite food': 'Bread and Beans'}

we can also use update like we use in set only that it has to be in key-value pairs

In [33]:
my_dict.update({'career': 'Data Science', 'Hobby': 'Studying'})
print(my_dict)

{'Name': 'Dylan', 'Age': 30, 'Height': 135, 'Weight': 60, 'Complexion': 'Brown', 'Hair color': 'Black', 'Has a dog?': 'True', 'favorite food': 'Bread and Beans', 'career': 'Data Science', 'Hobby': 'Studying'}

we can replace or delete key-value pairs in dict

In [34]:
my_dict['favorite food'] = 'Jollof rice and plantain'
print(my_dict)

{'Name': 'Dylan', 'Age': 30, 'Height': 135, 'Weight': 60, 'Complexion': 'Brown', 'Hair color': 'Black', 'Has a dog?': 'True', 'favorite food': 'Jollof rice and plantain', 'career': 'Data Science', 'Hobby': 'Studying'}

In [35]:
del my_dict['Has a dog?']
print(my_dict)

{'Name': 'Dylan', 'Age': 30, 'Height': 135, 'Weight': 60, 'Complexion': 'Brown', 'Hair color': 'Black', 'favorite food': 'Jollof rice and plantain', 'career': 'Data Science', 'Hobby': 'Studying'}

In [36]:
my_dict.pop('Complexion')
print(my_dict)

{'Name': 'Dylan', 'Age': 30, 'Height': 135, 'Weight': 60, 'Hair color': 'Black', 'favorite food': 'Jollof rice and plantain', 'career': 'Data Science', 'Hobby': 'Studying'}

Keys are hashed to assign key-values to memory, in view of this, keys are immutable and unique similar to the elements of set

In [37]:
# a list can not be used as a key

invalid_dict = {[1, 5] : 'values', 'age' : 7}
invalid_dict

TypeError: unhashable type: 'list'

In [38]:
# a tuple can be used as a key since it's elements are immutable
valid_dict = {(1, 5) : 'values', 'age' : 7}
valid_dict

{(1, 5): 'values', 'age': 7}

In [42]:
valid_dict3 = {'key' : [1,5] , 'age' : 7}
valid_dict3

{'key': [1, 5], 'age': 7}

In [43]:
print(sorted(my_dict))
print(sorted(my_dict.items()))

['Age', 'Hair color', 'Height', 'Hobby', 'Name', 'Weight', 'career', 'favorite food']
[('Age', 30), ('Hair color', 'Black'), ('Height', 135), ('Hobby', 'Studying'), ('Name', 'Dylan'), ('Weight', 60), ('career', 'Data Science'), ('favorite food', 'Jollof rice and plantain')]

In [44]:
example_set2 = {'Dylan', 'Zack', 'Paul', 'Mata'}

In [45]:
print(sorted(example_set2))

['Dylan', 'Mata', 'Paul', 'Zack']

In [46]:
print(sorted(map(str, example_set)))

['14.4', '26', '34', 'Dylan', 'True']

In [10]:
example_tuple

('Dylan', 20, 16.4, True)

In [12]:
print(sorted(example_tuple))

TypeError: '<' not supported between instances of 'int' and 'str'

In [11]:
print(sorted(map(str, example_tuple)))

['16.4', '20', 'Dylan', 'True']

# Collections

namedtuple:
It is a class factory. It needs a few things to generate the class.
1. The class name we want to use
2. A sequence of field names we want to assign. Field names can be any valid variable names except that they cannot start with an "underscore"
3. The return value of the call "namedtuple" will be a class. We need to assign that value to variable name in our code so that we can use it to construct instances. In general we use the same name as the name of the class that was generated.
Coords = namedtuple('Coords', ['x', 'y']). 
#### from https://stackoverflow.com/questions/2970608/what-are-named-tuples-in-python#:~:text=Field%20names%20can%20be%20any,use%20it%20to%20construct%20instances.

In [49]:
# now we can create insatances

from collections import namedtuple

Coords = namedtuple('Coords', ['x', 'y'])
pt = Coords(5,10)

There are many ways we can provide the list of field names to the namedtuple function.

1. a list of strings

   namedtuple('Coords',['x','y'])
2. a tuple of strings

   namedtuple('Coords',('x','y'))
3. a single string with the field names separated by whitespace or commas

   namedtuple('Coords','x, y')

In [50]:
pt.x

5

In [51]:
isinstance(pt, tuple)

True

#### "rename" keyword arg for namedtuple
Field names cannot start with an underscore

- Coords = namedtuple('Coords', ['x', '_y']) # does not work
namedtuple has a keyword-only argument, rename (defaults to False) that will automatically rename any invalid field name.

- Coords = namedtuple('Coords', ['x', '_y'], rename=True)
field name "x" wont change, but "_y" will change to _1. 1 is the index of the field name.

#### Introspection
We can easily find out if the field names in a named tuple generated class.

     - Coords = namedtuple('Coords', ['x', '_y'])
     - Coords._fields -> ("x","_1")  # returns tuple
We can actually see what the code for that class is, using the class property _source if you are using python less than 3-3.7. Since there might have been some concerns about the memory usage of implementing that property, it was removed since v3.7

Extradicting namedtuple as dict

In [52]:
pt._asdict()

{'x': 5, 'y': 10}

In [53]:
point = namedtuple('vector',['x', 'y', 'z'] )

In [54]:
val = point(2, 4, 9)

In [55]:
val.x + val.z

11

In [56]:
def tfunc(a,b,c):
    print(a,b,c)

In [57]:
tfunc(*val)

2 4 9

In [33]:
x = {"first" : 1, "second": 4, "third": 3}
y = {"one" : 1, "two" : 4, "three": 6}
z = {**x, **y}
z

{'first': 1, 'second': 4, 'third': 3, 'one': 1, 'two': 4, 'three': 6}

# deque

A deque is like a queue or a stack except that it work in both ways. we can think of a deque as a list where we generally want to work with both ends. The deque is optimized for $O(1)$  for both adding and removing of elements from the ends of the structure, whereas a general list will be $O(N)$ for operations at the front of the list.

In [58]:
from collections import deque

d = deque([10, 14, 25, 23])
print(d)
d.append(20)
print(d)
d.appendleft(30)
print(d)

deque([10, 14, 25, 23])
deque([10, 14, 25, 23, 20])
deque([30, 10, 14, 25, 23, 20])

let's time how long it take to perform the same operation adding elements to the left of a deque and a list

#### from w3 schools

The insert() method inserts the specified value at the specified position

.list.insert(pos, elmnt)

In [59]:
%%timeit

l_ = list()
for i in range(4000):
    l_.insert(0, i)

5.88 ms ± 55.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [60]:
%%timeit

d = deque()
for i in range(4000):
    d.appendleft(i)

612 µs ± 144 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [ ]:
l_.insert?

In [61]:
# check if the values are the same

l_ = list()
d = deque()
for i in range(4000):
    l_.insert(0, i)
    d.appendleft(i)
    
l_ == list(d)

True

The deque is order of magnitude faster than the list.

More examples from geeksforgeeks

In [62]:
de = deque([1, 2, 4, 3, 4, 2, 4])

In [63]:
de

deque([1, 2, 4, 3, 4, 2, 4])

In [64]:
print(de.index(4))

2

In [65]:
de.count(3)

1

In [67]:
de.remove(4)

In [68]:
de

deque([1, 2, 3, 2, 4])

In [69]:
de.reverse()

In [70]:
de

deque([4, 2, 3, 2, 1])

In [ ]:
#dir(de)

### Counter

The counter is an extremely useful object. It counts elements in some iterables and return a dictionary-like structure containing the count of each of the element. Let's see an example.

In [13]:
from collections import Counter

ele = ['a', 'b', 'a', 'c', 'b', 'b', 'd']
c = Counter(ele)
print(c)

Counter({'b': 3, 'a': 2, 'c': 1, 'd': 1})

In [14]:
c.get('a', 'Not available')

2

In [16]:
c.get('z', 'Not available')

'Not available'

In [73]:
c['z']

0

### defaultdict

One common paradigm of a dictionary is to handle the case of a missing key. Lets say we take the counter example from above and try to implement our own. We want to do something like creat a dictionary and every time we encounter a key we one to add one to the existing value at that key and if we hadn't seen that key, we want to create it and initialize it to zero before adding it. One way to do this is

In [77]:
def count(x):
    count_dict = {}
    print("This is x", x)
    for i in x:
        if i in count_dict.keys():
            count_dict[i] += 1
        else:
            count_dict[i] = 1
    return count_dict

count(ele)

This is x  ['a', 'b', 'a', 'c', 'b', 'b', 'd']

{'a': 2, 'b': 3, 'c': 1, 'd': 1}

This is such a common case that we have the defaultdict to deal with. The defaultdict takes a default factory takes a default factory function which can be as simple as returning 0 which produces a value when the key has not been seen before. We can implement in the same algorithm as above in a bit of a simpler way.

When the int class is passed as the default_factory argument, then a defaultdict is created with default value as zero.

In [19]:
from collections import defaultdict
import numpy as np

def count_default(x):
    count_dict = defaultdict(int)
    for ele in x:
        count_dict[ele] += 1
    return count_dict

list(count_default(ele).items())

[('a', 2), ('b', 3), ('c', 1), ('d', 1)]

In [18]:
d = defaultdict()
#dir(d)

### Map

from : https://www.simplilearn.com/tutorials/python-tutorial/map-in-python#:~:text=Map%20in%20Python%20is%20a,to%20the%20map%20in%20Python.

    Map is a function that works as an iterator to return every item of an iterable(tuple, list, etc). It is used when you want to use a single transformation function to all the iterable elements. The iterable and the map are passed as argument to the map function.
    
 -Syntax of Map function
 #### map(function, iterable)
    
- function: It is the transformation function through which all the items of the iterable will be passed.
- iterables: It is the iterable (sequence, collection like list or tuple) that you want to map.

The map in Python takes a function and an iterable/iterables. It loops over each item of an iterable and applies the transformation function to it. Then, it returns a map object that stores the value of the transformed item. The input function can be any callable function, including built-in functions, lambda functions, user-defined functions, classes, and methods. Now, calculate the same multiplication as you did in the previous example, but this time with both the for loop and the map functions separately, to understand how the map() function works.

Example: Using For Loop

In [18]:
def mul(i):

    return i * i

num = (3, 5, 7, 11, 13)

resu = map(mul, num)

list(resu)

[9, 25, 49, 121, 169]

#### Queue

It is a linear data structure that stores items in FIFO (First In First Out) manner. With queue the least recently added element is removed first. an example of queue is customers being attended to on a first come first serve basis.

Operations with queues are:
- Enqueue : Adds an item to the queue. if the queue is full, then it is said to be an overflow condition. Time complexity : $O$(1)
- Dequeue : Removes an item from the queue. The items are poped out in the same order which theyare pushed. If the queue is empty, then it is said to be an underflow condition. Time complexity is $O$(1)
- Front : Get the front item from he queue. Time complexity is $O$(1)
- Rear : Get the last item from the queue. Time complexity is $O$(1)

Implementation

Queue in Python can be implemented in the following ways
- list
- Collections.deque
- queue.Queue

#### list
list in Python can be used as a queue. Instead of using enqueue() and dequeue(), append() and pop() functions is used. However, using list like this is slow because inserting or deleting elements require the others to be shifted by one, requiring $O$(n) time

In [36]:
# python program to demonstrate queue implementation
# Python program to
# demonstrate queue implementation
# using list

# Initializing a queue
queue = []

# Adding elements to the queue
queue.append('a')
queue.append('b')
queue.append('c')

print("Initial queue")
print(queue)

Initial queue
['a', 'b', 'c']

In [37]:
# Removing elements from the queue
print("\nElements dequeued from queue")
print(queue.pop(0))
print(queue.pop(0))
print(queue.pop(0))

print("\nQueue after removing elements")
print(queue)

# Uncommenting print(queue.pop(0))
# will raise and IndexError
# as the queue is now empty

Elements dequeued from queue
a
b
c

Queue after removing elements
[]

Implementation of queue using collections.queue

deque is preferred over list in the case we need quicker append() and pop() operation at both ends of the container as dequee provides $O$(1) time complexity for both operations. Instead of enqueue() and dequeue() operations, append() and popleft() are used.

In [38]:
# Python program to
# demonstrate queue implementation
# using collections.dequeue
  
  
from collections import deque
  
# Initializing a queue
q = deque()
  
# Adding elements to a queue
q.append('a')
q.append('b')
q.append('c')
  
print("Initial queue")
print(q)

Initial queue
deque(['a', 'b', 'c'])

In [40]:
q.appendleft('boy')
q

deque(['boy', 'a', 'b', 'c'])

In [41]:
# Removing elements from a queue
print("\nElements dequeued from the queue")
print(q.popleft())
#print(q.popleft())
#print(q.popleft())
  
#print("\nQueue after removing elements")
print(q)

Elements dequeued from the queue
boy
deque(['a', 'b', 'c'])

Implementation using queue.queue

Queue is a built-in module of Python which is usedt to implement a queue. queue.Queue(maxsize) initializes a variable to maximum size of maxsize. A maxsize of zero '0' means an infinite queue.

In [ ]:
from queue import Queue

q_ = Queue(maxsize=3)
#dir(q_)
q_.put(5)
q_.put('a')
q_.put('b')

In [1]:
2 + 2

4

In [3]:
from queue import Queue
que = Queue([1, 2])
print(que)

que.enqueue(2)
print(que)

<queue.Queue object at 0x000001969FEE1B80>

AttributeError: 'Queue' object has no attribute 'enqueue'

In [ ]:
que.get()